<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartfarm.chameleon.domain.house.dao.HouseMapper">

    <!-- 사용자 pk로 농장 아이디, 농장 백엔드 주소 받아오기 -->
    <select id="read_back_url_list"
        parameterType="java.lang.Integer"
        resultType="com.smartfarm.chameleon.domain.house.dto.UserHouseDTO">

        SELECT  id, house_id, house_name, house_back_url
        FROM    house
        WHERE   id=#{id}

    </select>

    <!-- 사용자 pk로 사용자가 보유한 농장 이름 리스트 반환 -->
    <select id="read_house_name_list"
        parameterType="java.lang.Integer"
        resultType="com.smartfarm.chameleon.domain.house.dto.HouseInfoDTO">

        SELECT  house_id, house_name
        FROM    house
        WHERE   id=#{id} 

    </select>

    <!-- 농장 아이디로 농장 이름 변경 -->
    <update id="update_house_name"
        parameterType="com.smartfarm.chameleon.domain.house.dto.HouseInfoDTO">

        UPDATE  house
        SET     house_name = #{house_name}
        WHERE   house_id = #{house_id}

    </update>

    <!-- 농장 아이디로 농장의 백엔드 주소 가져오기 -->
    <select id="read_back_url"
        parameterType="java.lang.Integer">

        SELECT  house_back_url
        FROM    house
        WHERE   house_id = #{house_id}

    </select>

</mapper>