<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartfarm.chameleon.domain.login.dao.LoginMapper">

    <!-- 사용자 로그인 -->
    <select id="login"
        parameterType="com.smartfarm.chameleon.domain.login.dto.UserDTO"
        resultType="com.smartfarm.chameleon.domain.login.dto.UserDTO">

        SELECT 
            *
        FROM 
            user
        WHERE 
            user_id = #{user_id};    

    </select>

    <!-- 사용자 Device Token 값 추가 -->
    <insert id="update_device_token"
        parameterType="com.smartfarm.chameleon.domain.login.dto.FCMTokenDTO">

        UPDATE user
        SET
            device_token = #{device_token}
        WHERE
            user_id = #{user_id}

    </insert>

</mapper>
