<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartfarm.chameleon.domain.login.dao.LoginMapper">

    <!-- 사용자 로그인 -->
    <select id="login"
        parameterType="com.smartfarm.chameleon.domain.login.dto.UserDTO"
        resultType="com.smartfarm.chameleon.domain.login.dto.UserDTO">

        SELECT 
            user_id, user_pwd, user_name
        FROM 
            user
        WHERE 
            user_id = #{user_id};    

    </select>

    <!-- 사용자 이름 반환 -->
    <select id="read_user_name">

        SELECT  user_name
        FROM    user
        WHERE   user_id = #{user_id};    

    </select>

</mapper>
