<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartfarm.chameleon.domain.user.dao.UserMapper">

    <!-- 사용자 이름, 관심 작물 수정 -->
    <update id="update_user"
        parameterType="com.smartfarm.chameleon.domain.login.dto.UserDTO" >

        UPDATE  user
        SET     
            user_name = #{user_name},
            faw_crop = #{faw_crop}
        WHERE 
            id = #{id}

    </update>

    <!-- 시리얼 번호 확인 후 house_id 반환 -->
    <select id="validate_serial"
        resultType="java.lang.Integer" >

        SELECT  house_id
        FROM    house
        WHERE   house_serial=#{serial}

    </select>

    <insert id="sign_up"
        parameterType="com.smartfarm.chameleon.domain.user.dto.SignUpDTO" >

        INSERT INTO user (user_name, user_id, user_pwd, faw_crop)
        VALUES  (#{user_name}, #{user_id}, #{user_pwd}, #{faw_crop} )

    </insert>

</mapper>